#footer{
    mix-blend-mode: difference;
    position: relative;
}


#page5:hover::before {
    scale: 25;
}
#instagram:hover{
    color: #34abf0;
}
#linkedin:hover{
    color: #FFA500;
}

#github:hover{
    color: azure;
}
#discord:hover{
    color: #ffae00;
}
#twitter:hover{
    color: azure;
}