body{
  color: azure;
  font-family: "Saira", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(45deg, #141414 0%, #1f1f1f 100%);
  background-size: 200% 200%;  
  height: 100vh;
  width: 100%;
  cursor : none;

}

*{
  cursor : none;
}

#baskerinfotext{
  font-family: "Saira", sans-serif;
}

#navv > li{
  transition: 1s;
}
#navv > li:hover{
  transition: 1s;
}
#btnab::before{
  content: "";
  width: 100px;
  height: 100px;
  background-color: var(--colorbutton, #e5b721);
  position: absolute;
  top: -25%;
  left: 18%;
  overflow: hidden;
  z-index: -1;
  transition: 1s;
  border-radius: 50%;
  scale: 0;
}
#btnab{
  overflow: hidden;
  transition: 1s;
  color: var(--colorbutton,#e5b721);
  border: 1px solid var(--colorbutton,#e5b721);

}
#btnab:hover{
  color: var(--colorbuttontx,azure);
  border: 1px solid var(--colorbuttontx,azure);
}
#btnab:hover::before{
  scale: 2;
  transition: 1s;
}


/* #navbarchild{
  mix-blend-mode: difference;
  background-color: #14141444;
} */


.TitleMainPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%, -50%); /*Hna bach tjib text f lwst ta3 home page*/
}
#ayoub >span{
  letter-spacing: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}
#ayoub >#span2{
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-image: linear-gradient(to bottom , azure , azure , transparent);
  background-clip: text;
  color: transparent;

}
#page1{
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}
#page2{
  position: sticky;
  width: 100vw;
  height: 98vh;
  background-color: rgb(226, 226, 226);
  border-radius: 100px 100px 0% 0%;
  top: 2%;
  margin-top: 530px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#page3{
  position: sticky;
  width: 100vw;
  height: 96.5vh;
  margin-top: 360px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#page4{
  height: 100vh;
  width: 100vw;
  position: sticky;
  background-color: #141414;
  z-index: 100;
  overflow: hidden;
  top: 0;
}
#page5{
  height: 25vh;
  width: 100vw;
  position: relative;
  backdrop-filter: blur(10px);
  border-style: solid;
  border-color: azure;
  border-width: 1px 1px 0 1px; 
  background-color: rgba(61, 61, 61, 0.534);
  z-index: 110;
  margin-top: 100px;
  border-radius: 100px 100px 0% 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: #141414 0px -10px 20px 10px;
  

}


#nav {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  mix-blend-mode: difference;
}

#Contact-Text{
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  letter-spacing: 4px;
  
}
#imageAct{
  mix-blend-mode: normal;
  isolation: isolate;
  background-color: black;
  background-size: cover;
}


::-webkit-scrollbar{
  display: none;
}