body{
  color: azure;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(45deg, #141414 0%, #1f1f1f 100%);
  background-size: 200% 200%;  
  height: 100vh;
  width: 100%;
  cursor: none;
}

*{
  cursor: none;
}

#baskerinfotext{
  font-family: 'Times New Roman', Times, serif;
}

#navv > li{
  transition: 1s;
}
#navv > li:hover{
  transition: 1s;
}
#btnab::before{
  content: "";
  width: 100px;
  height: 100px;
  background-color: var(--colorbutton, #e5b721);
  position: absolute;
  top: -25%;
  left: 18%;
  overflow: hidden;
  z-index: -1;
  transition: 1s;
  border-radius: 50%;
  scale: 0;
}
#btnab{
  overflow: hidden;
  transition: 1s;
  color: var(--colorbutton,#e5b721);
  border: 1px solid var(--colorbutton,#e5b721);

}
#btnab:hover{
  color: var(--colorbuttontx,azure);
  border: 1px solid var(--colorbuttontx,azure);
}
#btnab:hover::before{
  scale: 2;
  transition: 1s;
}


#navbarchild{
  backdrop-filter: blur(3px);
}


.TitleMainPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px; /*Hna bach tjib text f lwst ta3 home page*/
}
#ayoub >span{
  font-size: 78px;
  letter-spacing: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  margin-top: 0;  
}
#ayoub >#span2{
  font-size: 50px;
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-image: linear-gradient(to bottom , azure , azure , transparent);
  background-clip: text;
  color: transparent;

}
#page1{
  position: sticky;
  top: 0;
  left: 0;
}
#page2{
  position: sticky;
  width: 100vw;
  height: 100vh;
  background-color: #cfcfcf;
  border-radius: 100px;
}